/* center the boxes */
.timerbox {
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 2%;
    width: 50%;
    text-align: center;
}

/* make the buttons appear/disappear */
.hidey {
    display: none;
}


#header {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background: rgb(235, 246, 250);
}

form {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#end {
    width: 30%;
}
